# Ignorer tous les datasets volumineux
climate_dataset/
elevation_dataset/
fire_dataset/
shapefiles/
land_dataset/
soil_dataset/
out/
DMenv/
features/
Merged/
data/
features/
Merged/
features_cleaned/
# Ignorer les checkpoints Jupyter
*.ipynb_checkpoints

# Ignorer les logs éventuels
*.log

# Ignorer les fichiers système
.DS_Store
Thumbs.db
